# Récupération et traitement des données

Dans ce notebook, on récupère les données, on les nettoie et on les fusionne.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import os
path = os.getcwd()
os.chdir(path)
os.getcwd()

'C:\\Users\\Clemence\\Documents\\Cours\\ENSAE\\2A_semestre_1\\Python\\Projet-python'

# Récupération des données

## Nombre de médailles remportées pour les éditions des JO retenues


On fait du webscrapping pour récupérer le nombre de médailles gagnées par chaque pays, pour les 8 éditions de JO d'été depuis 1992. 
On récupère ces tableaux de médailles sur le site : http://www.olympedia.org/editions/medals

In [ ]:
%run webscrapping_medailles.ipynb

En 1992, l'Equipe Unifiée (Unified Team) regroupait 12 des 15 pays de l'ancienne URSS. On fait donc le choix de la renommer Russie (code RUS) pour pouvoir comparer avec les années suivantes.

En 2020, la Russie ne participe pas en tant que délégation officielle aux JO.Néanmoins, les athlètes russes concourent sous l'acronyme "ROC" (Russian Olympic Committee). On fait donc encore une fois le choix de renommer le ROC par Russie (RUS).

In [40]:
df_copy = df_medailles.copy()
df_copy['Country code'] = df_copy['Country code'].replace(["EUN", "ROC"], "RUS")
df_copy[df_copy['Country code'] == "RUS"]

,Country code,Gold,Silver,Bronze,Total,Annee,Lieu
Unified Team,RUS,45,38,29,112,1992,Barcelona
Russian Federation,RUS,26,21,16,63,1996,Atlanta
Russian Federation,RUS,32,28,29,89,2000,Sydney
Russian Federation,RUS,28,26,36,90,2004,Athina
Russian Federation,RUS,24,13,23,60,2008,Beijing
Russian Federation,RUS,20,21,26,67,2012,London
Russian Federation,RUS,19,17,20,56,2016,Rio de Janeiro
Russian Olympic Committee,RUS,20,28,23,71,2020,Tokyo

## PIB par habitant des pays


Données téléchargées sur le lien suivant : https://databank.banquemondiale.org/reports.aspx?source=2&series=NY.GDP.PCAP.CD&country=#advancedDownloadOptions

In [19]:
df_pib_hab = pd.read_excel("Data_BM_PIB_hab.xlsx")

In [20]:
df_pib_hab.head(10)

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,...,591.190030,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871
1,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Afrique du Sud,ZAF,3139.966225,3285.972326,3479.083205,3713.921206,3784.449144,4144.613723,...,8810.930651,8222.197279,7467.079185,6988.808739,6259.839681,5756.965741,6690.939847,7005.095413,6624.761865,5655.867654
2,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Albanie,ALB,617.230436,336.586995,200.852220,367.279225,586.416340,750.604449,...,4437.142612,4247.630047,4413.062005,4578.633208,3952.802538,4124.055390,4531.019374,5287.663694,5395.659532,5246.292306
3,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Algérie,DZA,2408.822985,1731.621370,1776.028278,1807.297451,1507.886663,1452.278434,...,5455.679403,5592.220115,5499.587331,5493.056695,4177.889542,3946.452447,4109.698217,4142.018558,3989.668276,3306.858208
4,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Allemagne,DEU,22303.961327,23357.757725,26438.230389,25522.629573,27076.606750,31658.349379,...,46644.776028,43858.363055,46285.764069,47959.993274,41086.729674,42107.517270,44542.295204,47950.180814,46794.899292,46208.429472
5,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Andorre,AND,18878.852313,19534.263630,20549.805575,16515.658395,16235.068038,18458.173993,...,43334.811413,38686.461264,39540.724814,41303.929371,35770.776704,37475.635059,38964.904478,41791.969837,40897.330873,NaN
6,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Angola,AGO,948.338178,NaN,NaN,NaN,251.078348,398.790998,...,4615.468219,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868
7,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Antigua-et-Barbuda,ATG,7347.646369,7602.345334,7745.721800,8136.188547,8771.143727,8406.358945,...,12746.633468,13272.734945,12910.590626,13501.580922,14285.329777,15198.742966,15383.576398,16679.591662,17376.649677,13992.744480
8,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Arabie saoudite,SAU,7246.015920,7883.245268,7932.093233,7485.541756,7421.289194,7690.576284,...,23745.880578,25243.601998,24845.124664,24464.212557,20627.926929,19878.763837,20802.466313,23337.017549,23139.797981,20110.316192
9,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,Argentine,ARG,4333.483372,5735.359981,6823.538837,6969.119729,7483.140334,7408.708664,...,12848.864197,13082.664326,13080.254732,12334.798245,13789.060425,12790.242473,14613.041825,11795.159387,10056.637940,8579.017773

## Population des pays


Données téléchargées sur le lien suivant : https://databank.banquemondiale.org/reports.aspx?source=2&series=SP.POP.TOTL&country=#advancedDownloadOptions

In [17]:
df_pop = pd.read_excel("Data_BM_Pop.xlsx")

In [18]:
df_pop.head(10)

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,12412311.0,13299016.0,14485543,15816601,17075728,18110662.0,...,30117411.0,31161378,32269592,33370804,34413603,35383028,36296111,37171922,38041757,38928341
1,"Population, total",SP.POP.TOTL,Afrique du Sud,ZAF,36800507.0,37718952.0,38672611,39633754,40564061,41435761.0,...,52003759.0,52832659,53687125,54544184,55386369,56207649,57009751,57792520,58558267,59308690
2,"Population, total",SP.POP.TOTL,Albanie,ALB,3286542.0,3266790.0,3247039,3227287,3207536,3187784.0,...,2905195.0,2900401,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837743
3,"Population, total",SP.POP.TOTL,Algérie,DZA,25758872.0,26400468.0,27028330,27635517,28213777,28757788.0,...,36661438.0,37383899,38140135,38923688,39728020,40551398,41389174,42228415,43053054,43851043
4,"Population, total",SP.POP.TOTL,Allemagne,DEU,79433029.0,80013896.0,80624598,81156363,81438348,81678051.0,...,80274983.0,80425823,80645605,80982500,81686611,82348669,82657002,82905782,83092962,83240525
5,"Population, total",SP.POP.TOTL,Andorre,AND,54508.0,56666.0,58882,60974,62676,63860.0,...,83748.0,82427,80770,79213,77993,77295,76997,77008,77146,77265
6,"Population, total",SP.POP.TOTL,Angola,AGO,11848385.0,12248901.0,12657361,13075044,13503753,13945205.0,...,24220660.0,25107925,26015786,26941773,27884380,28842482,29816769,30809787,31825299,32866268
7,"Population, total",SP.POP.TOTL,Antigua-et-Barbuda,ATG,62533.0,63363.0,64459,65777,67201,68672.0,...,89250.0,90407,91510,92562,93571,94520,95425,96282,97115,97928
8,"Population, total",SP.POP.TOTL,Arabie saoudite,SAU,16233786.0,16772695.0,17282686,17763297,18214475,18638790.0,...,28267591.0,29154906,30052058,30916603,31717676,32443443,33101183,33702757,34268529,34813867
9,"Population, total",SP.POP.TOTL,Argentine,ARG,32618648.0,33079002.0,33529320,33970103,34402669,34828168.0,...,41261490.0,41733271,42202935,42669500,43131966,43590368,44044811,44494502,44938712,45376763

## Investissement dans le sport


Il n’existe aucune base de données recensant directement l'investissement public dans le sport pour l’ensemble des pays. Mais l'OCDE a développé un système de classification des dépenses gouvernementales : COFOG (Classification of Functions of the Government). Pour approximer l'investissement public dans le sport, on retient la COFOG "recreation, culture and religion". On utilise les données du FMI.

Données FMI téléchargées sur le lien suivant : https://data.imf.org/?sk=5804c5e1-0502-4672-bdcd-671bcdc565a9

In [5]:
invest_sport_FMI = pd.read_excel("Invest_sport_recreation_culture_religion_FMI_domesticcurrency.xlsx", header=2)

In [41]:
invest_sport_FMI.rename({"Unnamed: 0": "Country name"}, axis=1, inplace=True)
#on renomme la colonne des pays

invest_sport_FMI.head(10)

,Country name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Afghanistan, Islamic Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3527.125245,3486.598073,3346.196545,2847.323981,2657.993194,3768.167024,4100.661686,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4575.150000,4791.190000,4069.660000,5931.900000,6456.620000,6355.930000,6440.030000,7381.560000,7309.950000,6842.130000
2,"Armenia, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26765.973187,NaN,NaN,NaN,37050.781946,36401.353828,40986.570852,36273.902484
3,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12473.000000,12816.000000,12690.000000,13026.000000,13141.000000,14134.000000,14306.000000,16316.000000,16546.000000,17332.000000
4,Austria,NaN,NaN,NaN,NaN,NaN,2460.690,2503.790,2613.030,2683.410,...,3917.000000,3993.230000,4059.490000,4062.470000,4183.180000,4303.930000,4390.120000,4473.780000,4600.280000,4531.300000
5,"Azerbaijan, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197.800000,248.700000,283.300000,303.300000,280.900000,697.620000,263.850000,312.800000,350.600000,NaN
6,"Belarus, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,427.660000,574.060000,694.318000,1126.494610,925.328469,1195.693000,1373.899722,1794.322002,1579.844377,1598.126636
7,Belgium,NaN,NaN,NaN,NaN,NaN,1648.500,1762.100,1923.400,2020.100,...,4887.700000,5286.400000,5091.600000,5153.700000,5054.900000,5397.300000,5543.900000,5934.000000,5974.500000,NaN
8,Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Bulgaria,0.604,1.308,1.769,2.405,3.929,4.351,6.684,89.724,173.246,...,558.466000,621.416000,622.498000,1236.265000,1167.821000,762.309000,1046.031000,850.551000,849.972000,NaN

# Fusion des données et création de la base