# Récupération des données

Dans ce notebook, on récupère les données et on les nettoie.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import urllib
import bs4
from bs4 import BeautifulSoup
from urllib import request

In [4]:
import os
path = os.getcwd()
os.chdir(path)
os.getcwd()

'C:\\Users\\Clemence\\Documents\\Cours\\ENSAE\\2A_semestre_1\\Python\\Projet-python'

## Nombre de médailles remportées pour les éditions des JO retenues


On fait du webscrapping pour récupérer le nombre de médailles gagnées par chaque pays, pour les 8 éditions de JO d'été depuis 1992. 
On récupère ces tableaux de médailles sur le site : http://www.olympedia.org/editions/medals

In [ ]:
code natalie

## PIB par habitant des pays


Données téléchargées sur le lien suivant : https://donnees.banquemondiale.org/indicator/NY.GDP.PCAP.CD

In [31]:
df_pib_hab = pd.read_excel("Data_BM_PIB_hab.xls", header=3)

In [32]:
df_pib_hab.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.013919,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN
1,NaN,AFE,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,147.836769,147.238537,156.426780,182.521139,162.594548,180.489043,...,1686.695763,1672.363658,1653.188436,1658.650062,1507.800256,1404.953164,1540.232473,1534.171767,1485.307425,1330.140232
2,Afghanistan,AFG,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,...,591.162798,641.871438,637.165464,613.856505,578.466353,509.220100,519.888913,493.756581,507.103392,508.808409
3,NaN,AFW,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,107.963779,113.114697,118.865837,123.478967,131.892939,138.566819,...,1827.518347,1936.390962,2123.392433,2166.743309,1886.248158,1666.422406,1606.978332,1695.959215,1772.339155,1714.426800
4,Angola,AGO,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468219,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1895.770869
5,Albanie,ALB,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5355.847795,5215.276752
6,Andorre,AND,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43334.811413,38686.461264,39540.724814,41303.929371,35770.776704,37475.635059,38964.904478,41791.969837,40897.330873,NaN
7,Le monde arabe,ARB,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6695.858477,7265.966351,7314.827201,7247.972778,6185.083630,5938.791328,5941.064594,6402.380811,6403.540772,5654.950574
8,Émirats arabes unis,ARE,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39194.672240,40976.490746,42412.639500,43751.805648,38663.400503,38141.867131,40644.791190,43839.324487,43103.336293,NaN
9,Argentine,ARG,PIB par habitant ($ US courants),NY.GDP.PCAP.CD,NaN,NaN,1155.890717,850.304579,1173.238105,1279.113778,...,12848.864197,13082.664326,13080.254732,12334.798245,13789.060425,12790.242473,14613.041825,11633.498009,9912.281809,8441.919439

On ne garde les données que pour les années où il y a eu une édition des JO.

In [33]:
pib_hab = df_pib_hab[['Country Name','Country Code','1992','1996','2000','2004','2008','2012','2012','2016','2020']]

In [34]:
pib_hab.shape

(266, 11)

## Population des pays


Données téléchargées sur le lien suivant : https://donnees.banquemondiale.org/indicator/SP.POP.TOTL

In [26]:
df_pop = pd.read_excel("Data_BM_Pop.xls", header=3)

In [27]:
df_pop.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,NaN,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,NaN,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
5,Albanie,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0
6,Andorre,AND,"Population, total",SP.POP.TOTL,13410.0,14378.0,15379.0,16407.0,17466.0,18542.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0
7,Le monde arabe,ARB,"Population, total",SP.POP.TOTL,92197715.0,94724540.0,97334438.0,100034191.0,102832792.0,105736428.0,...,363156846.0,371437642.0,379696477.0,387899835.0,396028301.0,404042892.0,411942825.0,419851989.0,427870273.0,436080728.0
8,Émirats arabes unis,ARE,"Population, total",SP.POP.TOTL,92417.0,100801.0,112112.0,125130.0,138049.0,149855.0,...,8946778.0,9141598.0,9197908.0,9214182.0,9262896.0,9360975.0,9487206.0,9630966.0,9770526.0,9890400.0
9,Argentine,ARG,"Population, total",SP.POP.TOTL,20481781.0,20817270.0,21153042.0,21488916.0,21824427.0,22159644.0,...,41261490.0,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,44938712.0,45376763.0

On ne garde les données que pour les années où il y a eu une édition des JO.

In [28]:
population = df_pop[['Country Name','Country Code','1992','1996','2000','2004','2008','2012','2012','2016','2020']]

In [30]:
population.shape

(266, 11)

## Investissement dans le sport


Il n’existe aucune base de données recensant directement l'investissement public dans le sport pour l’ensemble des pays. Mais l'OCDE a développé un système de classification des dépenses gouvernementales : COFOG (Classification of Functions of the Government). Pour approximer l'investissement public dans le sport, on retient la COFOG "recreation, culture and religion". On utilise les données du FMI et on complète pour avoir moins de valeurs manquantes avec celles d'Eurostat.

Données FMI téléchargées sur le lien suivant : https://data.imf.org/?sk=5804c5e1-0502-4672-bdcd-671bcdc565a9

Données Eurostat téléchargées sur le lien suivant : https://ec.europa.eu/eurostat/databrowser/view/GOV_10A_EXP__custom_1784023/default/table?lang=en

In [5]:
invest_sport_FMI = pd.read_excel("Invest_sport_recreation_culture_religion_FMI_domesticcurrency.xlsx", header=2)

In [41]:
invest_sport_FMI.rename({"Unnamed: 0": "Country name"}, axis=1, inplace=True)
#on renomme la colonne des pays

invest_sport_FMI.head(10)

,Country name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,"Afghanistan, Islamic Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3527.125245,3486.598073,3346.196545,2847.323981,2657.993194,3768.167024,4100.661686,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4575.150000,4791.190000,4069.660000,5931.900000,6456.620000,6355.930000,6440.030000,7381.560000,7309.950000,6842.130000
2,"Armenia, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26765.973187,NaN,NaN,NaN,37050.781946,36401.353828,40986.570852,36273.902484
3,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12473.000000,12816.000000,12690.000000,13026.000000,13141.000000,14134.000000,14306.000000,16316.000000,16546.000000,17332.000000
4,Austria,NaN,NaN,NaN,NaN,NaN,2460.690,2503.790,2613.030,2683.410,...,3917.000000,3993.230000,4059.490000,4062.470000,4183.180000,4303.930000,4390.120000,4473.780000,4600.280000,4531.300000
5,"Azerbaijan, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197.800000,248.700000,283.300000,303.300000,280.900000,697.620000,263.850000,312.800000,350.600000,NaN
6,"Belarus, Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,427.660000,574.060000,694.318000,1126.494610,925.328469,1195.693000,1373.899722,1794.322002,1579.844377,1598.126636
7,Belgium,NaN,NaN,NaN,NaN,NaN,1648.500,1762.100,1923.400,2020.100,...,4887.700000,5286.400000,5091.600000,5153.700000,5054.900000,5397.300000,5543.900000,5934.000000,5974.500000,NaN
8,Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Bulgaria,0.604,1.308,1.769,2.405,3.929,4.351,6.684,89.724,173.246,...,558.466000,621.416000,622.498000,1236.265000,1167.821000,762.309000,1046.031000,850.551000,849.972000,NaN

In [34]:
invest_sport_Eurostat = pd.read_excel("Invest_sport_recreation_culture_religion_Eurostat_domesticcurrency.xlsx", 
                                      sheet_name="Sheet 1", header=10)

C:\Users\Clemence\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [35]:
invest_sport_Eurostat.dropna(axis=1, how='all',inplace=True)
#on supprime les colonnes qui ne continennent aucune valeur, entre chaque année

invest_sport_Eurostat.rename({"TIME": "Country code", "TIME.1": "Country name"}, axis=1, inplace=True)
#on renomme les deux premières variables

invest_sport_Eurostat.drop(0, axis=0, inplace=True)
#on supprime la 1ère ligne qui contient juste les anciens noms des deux premières variables

invest_sport_Eurostat.replace([":"], np.nan, inplace=True)
#les valeurs manquantes étaient représentées par :. On les remplace par NaN

In [40]:
invest_sport_Eurostat.head(10)

,Country code,Country name,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,BE,Belgium,NaN,NaN,NaN,NaN,NaN,1648.5,1762.1,1923.4,...,4887.7,5286.4,5091.6,5153.7,5054.9,5397.3,5543.9,5934.0,5974.5,NaN
2,BG,Bulgaria,NaN,NaN,NaN,NaN,NaN,4.4,6.7,89.7,...,558.5,621.4,622.5,1236.3,1167.8,762.3,1046.0,850.6,850.0,NaN
3,CZ,Czechia,NaN,NaN,NaN,NaN,NaN,21756.0,27167.0,25878.0,...,57440.0,55396.0,55764.0,58965.0,61260.0,61763.0,66816.0,79742.0,82518.0,NaN
4,DK,Denmark,NaN,NaN,NaN,NaN,NaN,16615.0,17621.0,18033.0,...,33369.0,34759.0,35007.0,34666.0,35841.0,36458.0,37029.0,36592.0,37158.0,39349.0
5,DE,Germany (until 1990 former territory of the FRG),NaN,NaN,NaN,NaN,NaN,19333.0,19681.0,20170.0,...,29458.0,29427.0,29337.0,30655.0,31278.0,31923.0,33598.0,35644.0,36004.0,NaN
6,EE,Estonia,NaN,NaN,NaN,NaN,NaN,58.3,82.2,96.8,...,332.7,334.3,396.2,405.6,412.0,448.1,511.4,509.6,563.8,NaN
7,IE,Ireland,NaN,NaN,NaN,NaN,NaN,306.2,327.1,356.0,...,1514.3,1459.3,1465.2,1495.0,1524.6,1633.3,1633.8,1808.9,1879.0,NaN
8,EL,Greece,NaN,NaN,NaN,NaN,NaN,428.0,520.0,580.0,...,1274.0,1210.0,1118.0,1155.0,1234.0,1302.0,1394.0,1521.0,1500.0,NaN
9,ES,Spain,NaN,NaN,NaN,NaN,NaN,6002.0,6286.0,6730.0,...,16041.0,12496.0,11674.0,11791.0,12436.0,12325.0,12803.0,13536.0,14111.0,NaN
10,FR,France,NaN,NaN,NaN,NaN,NaN,12043.0,12058.0,12820.0,...,31764.0,32702.0,33824.0,33133.0,31552.0,31460.0,32440.0,33109.0,34643.0,NaN