# Webscrapping : nombre de médailles remportées

On fait du webscrapping pour récupérer le nombre de médailles gagnées par chaque pays, pour les 8 éditions de JO d'été depuis 1992. 
On récupère ces tableaux de médailles sur le site : http://www.olympedia.org/editions/medals

In [1]:
import numpy as np
import urllib
import bs4
import pandas as pd

from bs4 import BeautifulSoup
from urllib import request

In [32]:

#******************Webscraping*******************

#pour les premières pages, le tableau voulu est le 6e

nbre_pages=np.array([23,24,25,26,53]) #les nombres c'est les numéros de page dans le code source

data_medailles = dict()
for i in nbre_pages: 
    request_text_i = request.urlopen("http://www.olympedia.org/editions/" + str(i))
    pagei=bs4.BeautifulSoup(request_text_i,"lxml")
    tableau_medailles = pagei.find_all("table")[5]
    rows = tableau_medailles.find_all("tr")
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        #print(cols)

    dico_medailles = dict()
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        if len(cols) > 0 : 
            dico_medailles[cols[0]] = cols[1:]

   # print(dico_medailles)
    data_medailles[i] = pd.DataFrame.from_dict(dico_medailles,orient='index')
    #data_medailles.columns = columns_medailles[0:]
    #print(data_medailles)
#data_medailles


    
#pour les dernières pages, le tableau voulu est le 5e

nbre_pages=np.array([54,59,61]) #les nombres c'est les numéros de page dans le code source

for i in nbre_pages: 
    request_text_i = request.urlopen("http://www.olympedia.org/editions/" + str(i))
    pagei=bs4.BeautifulSoup(request_text_i,"lxml")
    tableau_medailles = pagei.find_all("table")[4]
    rows = tableau_medailles.find_all("tr")
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        #print(cols)

    dico_medailles = dict()
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        if len(cols) > 0 : 
            dico_medailles[cols[0]] = cols[1:]

    data_medailles[i] = pd.DataFrame.from_dict(dico_medailles,orient='index')
    #data_medailles = pd.DataFrame.from_dict(dico_medailles,orient='index')
    #data_medailles.columns = columns_medailles[0:]
    #print(data_medailles)

for i in np.array([23,24,25,26,53,54,59,61]):
    data_medailles[i].columns = ['Country Code','Gold','Silver','Bronze','Total']
data_medailles

{23:                            Country Code Gold Silver Bronze Total
 Unified Team                        EUN   45     38     29   112
 United States                       USA   37     34     37   108
 Germany                             GER   33     21     28    82
 People's Republic of China          CHN   16     22     16    54
 Cuba                                CUB   14      6     11    31
 ...                                 ...  ...    ...    ...   ...
 Puerto Rico                         PUR    0      0      1     1
 Qatar                               QAT    0      0      1     1
 Suriname                            SUR    0      0      1     1
 Thailand                            THA    0      0      1     1
 The Bahamas                         BAH    0      0      1     1

 [64 rows x 5 columns],
 24:                            Country Code Gold Silver Bronze Total
 United States                       USA   44     32     25   101
 Russian Federation                  RUS   26     21     16    63
 Germany                             GER   20     18     27    65
 People's Republic of China          CHN   16     22     12    50
 France                              FRA   15      7     15    37
 ...                                 ...  ...    ...    ...   ...
 Mongolia                            MGL    0      0      1     1
 Mozambique                          MOZ    0      0      1     1
 Puerto Rico                         PUR    0      0      1     1
 Tunisia                             TUN    0      0      1     1
 Uganda                              UGA    0      0      1     1

 [79 rows x 5 columns],
 25:                            Country Code Gold Silver Bronze Total
 United States                       USA   37     24     32    93
 Russian Federation                  RUS   32     28     29    89
 People's Republic of China          CHN   28     16     14    58
 Australia                           AUS   16     25     17    58
 Germany                             GER   13     17     26    56
 ...                                 ...  ...    ...    ...   ...
 Israel                              ISR    0      0      1     1
 Kuwait                              KUW    0      0      1     1
 Kyrgyzstan                          KGZ    0      0      1     1
 North Macedonia                     MKD    0      0      1     1
 Qatar                               QAT    0      0      1     1

 [80 rows x 5 columns],
 26:                            Country Code Gold Silver Bronze Total
 United States                       USA   36     39     26   101
 People's Republic of China          CHN   32     17     14    63
 Russian Federation                  RUS   28     26     36    90
 Australia                           AUS   17     16     17    50
 Japan                               JPN   16      9     12    37
 ...                                 ...  ...    ...    ...   ...
 Venezuela                           VEN    0      0      2     2
 Eritrea                             ERI    0      0      1     1
 Mongolia                            MGL    0      0      1     1
 Syrian Arab Republic                SYR    0      0      1     1
 Trinidad and Tobago                 TTO    0      0      1     1

 [74 rows x 5 columns],
 53:                            Country Code Gold Silver Bronze Total
 People's Republic of China          CHN   48     22     30   100
 United States                       USA   36     39     37   112
 Russian Federation                  RUS   24     13     23    60
 Great Britain                       GBR   19     13     19    51
 Germany                             GER   16     11     14    41
 ...                                 ...  ...    ...    ...   ...
 Israel                              ISR    0      0      1     1
 Mauritius                           MRI    0      0      1     1
 Republic of Moldova                 MDA    0      0      1     1
 Togo                                TOG    0      0      1     1
 Venezuela                           VEN    0      0      1     1

 [87 rows x 5 columns],
 54:                            Country Code Gold Silver Bronze Total
 United States                       USA   47     27     30   104
 People's Republic of China          CHN   38     31     22    91
 Great Britain                       GBR   29     18     18    65
 Russian Federation                  RUS   20     21     26    67
 Republic of Korea                   KOR   13      9      8    30
 ...                                 ...  ...    ...    ...   ...
 Kingdom of Saudi Arabia             KSA    0      0      1     1
 Kuwait                              KUW    0      0      1     1
 Morocco                             MAR    0      0      1     1
 Tajikistan                          TJK    0      0      1     1
 Vietnam                             VIE    0      0      1     1

 [86 rows x 5 columns],
 59:                            Country Code Gold Silver Bronze Total
 United States                       USA   46     37     38   121
 Great Britain                       GBR   27     23     17    67
 People's Republic of China          CHN   26     18     26    70
 Russian Federation                  RUS   19     17     20    56
 Germany                             GER   17     10     15    42
 ...                                 ...  ...    ...    ...   ...
 Morocco                             MAR    0      0      1     1
 Nigeria                             NGR    0      0      1     1
 Portugal                            POR    0      0      1     1
 Trinidad and Tobago                 TTO    0      0      1     1
 United Arab Emirates                UAE    0      0      1     1

 [86 rows x 5 columns],
 61:                            Country Code Gold Silver Bronze Total
 United States                       USA   39     41     33   113
 People's Republic of China          CHN   38     32     18    88
 Japan                               JPN   27     14     17    58
 Great Britain                       GBR   22     21     22    65
 Russian Olympic Committee           ROC   20     28     23    71
 ...                                 ...  ...    ...    ...   ...
 Ghana                               GHA    0      0      1     1
 Grenada                             GRN    0      0      1     1
 Kuwait                              KUW    0      0      1     1
 Republic of Moldova                 MDA    0      0      1     1
 Syrian Arab Republic                SYR    0      0      1     1

 [93 rows x 5 columns]}

In [33]:
#Ajout des années, lieux et pays hôte

data_medailles[23] = pd.DataFrame.assign(data_medailles[23],Annee=1992,Lieu="Barcelona", Pays_hote="Spain", Code_pays_hote="ESP")
data_medailles[24] = pd.DataFrame.assign(data_medailles[24],Annee=1996,Lieu="Atlanta", Pays_hote="United States", Code_pays_hote="USA")
data_medailles[25] = pd.DataFrame.assign(data_medailles[25],Annee=2000,Lieu="Sydney", Pays_hote="Australia", Code_pays_hote="AUS")
data_medailles[26] = pd.DataFrame.assign(data_medailles[26],Annee=2004,Lieu="Athina", Pays_hote="Greece", Code_pays_hote="GRE")
data_medailles[53] = pd.DataFrame.assign(data_medailles[53],Annee=2008,Lieu="Beijing", Pays_hote="China", Code_pays_hote="CHN")
data_medailles[54] = pd.DataFrame.assign(data_medailles[54],Annee=2012,Lieu="London", Pays_hote="Great Britain", Code_pays_hote="GBR")
data_medailles[59] = pd.DataFrame.assign(data_medailles[59],Annee=2016,Lieu="Rio de Janeiro", Pays_hote="Brazil", Code_pays_hote="BRA")
data_medailles[61] = pd.DataFrame.assign(data_medailles[61],Annee=2020,Lieu="Tokyo", Pays_hote="Japan", Code_pays_hote="JPN")
data_medailles

{23:                            Country Code Gold Silver Bronze Total  Annee  \
 Unified Team                        EUN   45     38     29   112   1992
 United States                       USA   37     34     37   108   1992
 Germany                             GER   33     21     28    82   1992
 People's Republic of China          CHN   16     22     16    54   1992
 Cuba                                CUB   14      6     11    31   1992
 ...                                 ...  ...    ...    ...   ...    ...
 Puerto Rico                         PUR    0      0      1     1   1992
 Qatar                               QAT    0      0      1     1   1992
 Suriname                            SUR    0      0      1     1   1992
 Thailand                            THA    0      0      1     1   1992
 The Bahamas                         BAH    0      0      1     1   1992

                                  Lieu Pays_hote Code_pays_hote
 Unified Team                Barcelona     Spain            ESP
 United States               Barcelona     Spain            ESP
 Germany                     Barcelona     Spain            ESP
 People's Republic of China  Barcelona     Spain            ESP
 Cuba                        Barcelona     Spain            ESP
 ...                               ...       ...            ...
 Puerto Rico                 Barcelona     Spain            ESP
 Qatar                       Barcelona     Spain            ESP
 Suriname                    Barcelona     Spain            ESP
 Thailand                    Barcelona     Spain            ESP
 The Bahamas                 Barcelona     Spain            ESP

 [64 rows x 9 columns],
 24:                            Country Code Gold Silver Bronze Total  Annee  \
 United States                       USA   44     32     25   101   1996
 Russian Federation                  RUS   26     21     16    63   1996
 Germany                             GER   20     18     27    65   1996
 People's Republic of China          CHN   16     22     12    50   1996
 France                              FRA   15      7     15    37   1996
 ...                                 ...  ...    ...    ...   ...    ...
 Mongolia                            MGL    0      0      1     1   1996
 Mozambique                          MOZ    0      0      1     1   1996
 Puerto Rico                         PUR    0      0      1     1   1996
 Tunisia                             TUN    0      0      1     1   1996
 Uganda                              UGA    0      0      1     1   1996

                                Lieu      Pays_hote Code_pays_hote
 United States               Atlanta  United States            USA
 Russian Federation          Atlanta  United States            USA
 Germany                     Atlanta  United States            USA
 People's Republic of China  Atlanta  United States            USA
 France                      Atlanta  United States            USA
 ...                             ...            ...            ...
 Mongolia                    Atlanta  United States            USA
 Mozambique                  Atlanta  United States            USA
 Puerto Rico                 Atlanta  United States            USA
 Tunisia                     Atlanta  United States            USA
 Uganda                      Atlanta  United States            USA

 [79 rows x 9 columns],
 25:                            Country Code Gold Silver Bronze Total  Annee  \
 United States                       USA   37     24     32    93   2000
 Russian Federation                  RUS   32     28     29    89   2000
 People's Republic of China          CHN   28     16     14    58   2000
 Australia                           AUS   16     25     17    58   2000
 Germany                             GER   13     17     26    56   2000
 ...                                 ...  ...    ...    ...   ...    ...
 Israel                              ISR    0      0      1     1   2000
 Kuwait                              KUW    0      0      1     1   2000
 Kyrgyzstan                          KGZ    0      0      1     1   2000
 North Macedonia                     MKD    0      0      1     1   2000
 Qatar                               QAT    0      0      1     1   2000

                               Lieu  Pays_hote Code_pays_hote
 United States               Sydney  Australia            AUS
 Russian Federation          Sydney  Australia            AUS
 People's Republic of China  Sydney  Australia            AUS
 Australia                   Sydney  Australia            AUS
 Germany                     Sydney  Australia            AUS
 ...                            ...        ...            ...
 Israel                      Sydney  Australia            AUS
 Kuwait                      Sydney  Australia            AUS
 Kyrgyzstan                  Sydney  Australia            AUS
 North Macedonia             Sydney  Australia            AUS
 Qatar                       Sydney  Australia            AUS

 [80 rows x 9 columns],
 26:                            Country Code Gold Silver Bronze Total  Annee  \
 United States                       USA   36     39     26   101   2004
 People's Republic of China          CHN   32     17     14    63   2004
 Russian Federation                  RUS   28     26     36    90   2004
 Australia                           AUS   17     16     17    50   2004
 Japan                               JPN   16      9     12    37   2004
 ...                                 ...  ...    ...    ...   ...    ...
 Venezuela                           VEN    0      0      2     2   2004
 Eritrea                             ERI    0      0      1     1   2004
 Mongolia                            MGL    0      0      1     1   2004
 Syrian Arab Republic                SYR    0      0      1     1   2004
 Trinidad and Tobago                 TTO    0      0      1     1   2004

                               Lieu Pays_hote Code_pays_hote
 United States               Athina    Greece            GRE
 People's Republic of China  Athina    Greece            GRE
 Russian Federation          Athina    Greece            GRE
 Australia                   Athina    Greece            GRE
 Japan                       Athina    Greece            GRE
 ...                            ...       ...            ...
 Venezuela                   Athina    Greece            GRE
 Eritrea                     Athina    Greece            GRE
 Mongolia                    Athina    Greece            GRE
 Syrian Arab Republic        Athina    Greece            GRE
 Trinidad and Tobago         Athina    Greece            GRE

 [74 rows x 9 columns],
 53:                            Country Code Gold Silver Bronze Total  Annee  \
 People's Republic of China          CHN   48     22     30   100   2008
 United States                       USA   36     39     37   112   2008
 Russian Federation                  RUS   24     13     23    60   2008
 Great Britain                       GBR   19     13     19    51   2008
 Germany                             GER   16     11     14    41   2008
 ...                                 ...  ...    ...    ...   ...    ...
 Israel                              ISR    0      0      1     1   2008
 Mauritius                           MRI    0      0      1     1   2008
 Republic of Moldova                 MDA    0      0      1     1   2008
 Togo                                TOG    0      0      1     1   2008
 Venezuela                           VEN    0      0      1     1   2008

                                Lieu Pays_hote Code_pays_hote
 People's Republic of China  Beijing     China            CHN
 United States               Beijing     China            CHN
 Russian Federation          Beijing     China            CHN
 Great Britain               Beijing     China            CHN
 Germany                     Beijing     China            CHN
 ...                             ...       ...            ...
 Israel                      Beijing     China            CHN
 Mauritius                   Beijing     China            CHN
 Republic of Moldova         Beijing     China            CHN
 Togo                        Beijing     China            CHN
 Venezuela                   Beijing     China            CHN

 [87 rows x 9 columns],
 54:                            Country Code Gold Silver Bronze Total  Annee  \
 United States                       USA   47     27     30   104   2012
 People's Republic of China          CHN   38     31     22    91   2012
 Great Britain                       GBR   29     18     18    65   2012
 Russian Federation                  RUS   20     21     26    67   2012
 Republic of Korea                   KOR   13      9      8    30   2012
 ...                                 ...  ...    ...    ...   ...    ...
 Kingdom of Saudi Arabia             KSA    0      0      1     1   2012
 Kuwait                              KUW    0      0      1     1   2012
 Morocco                             MAR    0      0      1     1   2012
 Tajikistan                          TJK    0      0      1     1   2012
 Vietnam                             VIE    0      0      1     1   2012

                               Lieu      Pays_hote Code_pays_hote
 United States               London  Great Britain            GBR
 People's Republic of China  London  Great Britain            GBR
 Great Britain               London  Great Britain            GBR
 Russian Federation          London  Great Britain            GBR
 Republic of Korea           London  Great Britain            GBR
 ...                            ...            ...            ...
 Kingdom of Saudi Arabia     London  Great Britain            GBR
 Kuwait                      London  Great Britain            GBR
 Morocco                     London  Great Britain            GBR
 Tajikistan                  London  Great Britain            GBR
 Vietnam                     London  Great Britain            GBR

 [86 rows x 9 columns],
 59:                            Country Code Gold Silver Bronze Total  Annee  \
 United States                       USA   46     37     38   121   2016
 Great Britain                       GBR   27     23     17    67   2016
 People's Republic of China          CHN   26     18     26    70   2016
 Russian Federation                  RUS   19     17     20    56   2016
 Germany                             GER   17     10     15    42   2016
 ...                                 ...  ...    ...    ...   ...    ...
 Morocco                             MAR    0      0      1     1   2016
 Nigeria                             NGR    0      0      1     1   2016
 Portugal                            POR    0      0      1     1   2016
 Trinidad and Tobago                 TTO    0      0      1     1   2016
 United Arab Emirates                UAE    0      0      1     1   2016

                                       Lieu Pays_hote Code_pays_hote
 United States               Rio de Janeiro    Brazil            BRA
 Great Britain               Rio de Janeiro    Brazil            BRA
 People's Republic of China  Rio de Janeiro    Brazil            BRA
 Russian Federation          Rio de Janeiro    Brazil            BRA
 Germany                     Rio de Janeiro    Brazil            BRA
 ...                                    ...       ...            ...
 Morocco                     Rio de Janeiro    Brazil            BRA
 Nigeria                     Rio de Janeiro    Brazil            BRA
 Portugal                    Rio de Janeiro    Brazil            BRA
 Trinidad and Tobago         Rio de Janeiro    Brazil            BRA
 United Arab Emirates        Rio de Janeiro    Brazil            BRA

 [86 rows x 9 columns],
 61:                            Country Code Gold Silver Bronze Total  Annee  \
 United States                       USA   39     41     33   113   2020
 People's Republic of China          CHN   38     32     18    88   2020
 Japan                               JPN   27     14     17    58   2020
 Great Britain                       GBR   22     21     22    65   2020
 Russian Olympic Committee           ROC   20     28     23    71   2020
 ...                                 ...  ...    ...    ...   ...    ...
 Ghana                               GHA    0      0      1     1   2020
 Grenada                             GRN    0      0      1     1   2020
 Kuwait                              KUW    0      0      1     1   2020
 Republic of Moldova                 MDA    0      0      1     1   2020
 Syrian Arab Republic                SYR    0      0      1     1   2020

                              Lieu Pays_hote Code_pays_hote
 United States               Tokyo     Japan            JPN
 People's Republic of China  Tokyo     Japan            JPN
 Japan                       Tokyo     Japan            JPN
 Great Britain               Tokyo     Japan            JPN
 Russian Olympic Committee   Tokyo     Japan            JPN
 ...                           ...       ...            ...
 Ghana                       Tokyo     Japan            JPN
 Grenada                     Tokyo     Japan            JPN
 Kuwait                      Tokyo     Japan            JPN
 Republic of Moldova         Tokyo     Japan            JPN
 Syrian Arab Republic        Tokyo     Japan            JPN

 [93 rows x 9 columns]}

In [34]:
#conversion du dictionnaire en dataframe

df_medailles = pd.DataFrame(columns=[])
for i in np.array([23,24,25,26,53,54,59,61]):
    df_medailles = pd.concat([df_medailles,data_medailles[i]])
df_medailles

,Country Code,Gold,Silver,Bronze,Total,Annee,Lieu,Pays_hote,Code_pays_hote
Unified Team,EUN,45,38,29,112,1992,Barcelona,Spain,ESP
United States,USA,37,34,37,108,1992,Barcelona,Spain,ESP
Germany,GER,33,21,28,82,1992,Barcelona,Spain,ESP
People's Republic of China,CHN,16,22,16,54,1992,Barcelona,Spain,ESP
Cuba,CUB,14,6,11,31,1992,Barcelona,Spain,ESP
...,...,...,...,...,...,...,...,...,...
Ghana,GHA,0,0,1,1,2020,Tokyo,Japan,JPN
Grenada,GRN,0,0,1,1,2020,Tokyo,Japan,JPN
Kuwait,KUW,0,0,1,1,2020,Tokyo,Japan,JPN
Republic of Moldova,MDA,0,0,1,1,2020,Tokyo,Japan,JPN
Syrian Arab Republic,SYR,0,0,1,1,2020,Tokyo,Japan,JPN

In [36]:
df_medailles.reset_index(inplace=True) #la colonne des noms de pays était utilisée comme index, donc on réinitialise l'index
df_medailles.rename({"index": "Country Name"}, axis=1, inplace=True)